@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}


html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
a{
	text-decoration: none;
}

*
img,
object,
embed {max-width: 100%;}

html {overflow-y: scroll;}


ul {list-style: none;}

*,
body {
    font-family: "Montserrat";
    font-size: 1.05vw;
    line-height: 1.4vw;
    position: relative;
}
.header {
    padding: 0.5vw 10%;
    background: #52503b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: sticky;
}
.logo {
    width: 9%;
    height: 3.5vw;
}
.logo-img {
    width: 100%;
    height: 100%;
}
.ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7vw;
}
.nav-href {
    color: #fff;
}
.nav-href::after,
.nav-href::before{
    background: rgba(255, 255, 255, 0);
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    transition: .5s;
}
.nav-href::before{
    transform: translateY(-1vw);
}
.nav-href:hover::before{
    transform: translateY(0);
    background: rgba(255, 255, 255, 1);
}
.nav-href::after{
    transform: translateY(2.5vw);
}

.nav-href:hover::after{
    transform: translateY(1.5vw);
    background: rgba(255, 255, 255, 1);
}
.header-button {
    width: 9%;
    height: 2vw;
    background: #fff;
    border-radius: 6px;
    font-size: 1.05vw;
    border: 1px solid #52503b;
    border: none;
    transition: .5s;
}
.header-button:hover{
    background: #52503b;
    color: #fff;
    border: 1px solid #fff;
}
.main-section {
    background: url(img/main.svg) no-repeat;
    background-size: cover;
    padding: 14vw 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-main {
    width: 20%;
    height: 6.25vw;
}
.main-text {
    font-size: 3.33vw;
    line-height: 3.7vw;
    margin-top: 2.4vw;
    text-align: center;
    width: 80%;
    color: #ffffff;
}
.location {
    color: #ffffff;
    margin-top: 2.4vw;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
}
.description {
    background: #faf8f0;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3%;
    padding: 9.8vw 25% 6.25vw;
}
.decription-text {
    width: 50%;
}
.weekend {
    padding: 9.8vw 5.35vw;
    background: #fff;
}
.weekend-text {
    font-weight: 700;
    text-align: center;
    font-size: 6.67vw;
    line-height: 6.67vw;
    color: #52503b;
}
.main-2,
.main-3 {
    width: 100%;
    height: 41.67vw;
}
.sleep-place {
    margin-top: -6px;
}
.sleep-title,
.sleep-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #faf8f0;
}
.sleep-head {
    margin-top: 9.6vw;
    text-align: center;
    font-size: 2.2vw;
    line-height: 2.5vw;
}
.sleep-text {
    color: #52503b;
    width: 50%;
    text-align: center;
    line-height: 1.7vw;
    margin-top: 1vw;
}
.sleep-block {
    display: flex;
    margin: 2vw 0 7vw;
    width: 80%;
    gap: 5%;
}
.sleep-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sleep {
    width: 10%;
    height: 3.3vw;
}
.bathroom {
    width: 15%;
}
.body-title {
    color: #52503b;
    margin-top: 0.83vw;
    line-height: 1.7vw;
    font-size: 1.1vw;
}
.body-text {
    text-align: center;
    color: #52503b;
    font-size: 0.97vw;
}
.perfect {
    display: flex;
    flex-direction: column;
    margin: 9.6vw 10vw 7.6vw 9.6vw;
}
.perfect-title {
    color: #52503b;
    font-size: 2.22vw;
    line-height: 2.5vw;
}
.perfect-subtitle {
    width: 50%;
    font-size: 1.1vw;
    margin-top: 1vw;
    color: #52503b;
}
.perfect-block {
    margin-top: 2.1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.perfect-elem {
    margin-top: 3vw;
    width: 49%;
    display: grid;
    justify-self: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 2.5vw 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 1.1vw;
    grid-template-areas:
        "perfect-img perfect-block-title"
        "perfect-img perfect-text";
}
.perfect-img {
    grid-area: perfect-img;
    width: 2.5vw;
}
.perfect-block-title {
    grid-area: perfect-block-title;
    color: #52503b;
}
.perfect-text {
    grid-area: perfect-text;
    color: #333333;
}
.perfect-elem:nth-of-type(1),
.perfect-elem:nth-of-type(2) {
    margin-top: 0;
}
.perfect-elem:nth-of-type(7) > .perfect-img {
    width: auto;
    height: 2.5vw;
}
.review {
    background: #faf8f0;
    padding: 9.6vw 8% 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-title {
    font-size: 2.2vw;
    line-height: 3.5vw;
    color: #52503b;
}
.review-subtitle {
    font-size: 1.1vw;
    line-height: 1.67vw;
    text-align: center;
    color: #52503b;
    margin-top: 1vw;
}
.review-block {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}
.review-elem {
    background: #fff;
    width: 49%;
    padding: 2.2vw;
}
.stars img {
    width: 1.25vw;
}
.block-title {
    margin-top: 0.7vw;
    color: #333333;
    font-size: 1.25vw;
    line-height: 1.67vw;
}
.block-text {
    margin-top: 0.7vw;
    font-size: 0.97vw;
    line-height: 1.4vw;
}
.name {
    margin-top: 1.4vw;
    color: #333333;
    margin-left: 0.7vw;
}
.name::before {
    background: #e08631;
    content: "";
    position: absolute;
    margin-left: -0.7vw;
    height: 1.4vw;
    width: 2px;
}
.come {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "come-title come-block"
        "come-text come-block";
    padding: 7vw 9.5vw 8.75vw;
}
.come-title {
    grid-area: come-title;
    color: #52503B;
    font-size: 2.2vw;
    line-height: 2.5vw; 
    display: flex;
    align-items: end;
}
.come-text {
    grid-area: come-text;
    color: #52503B;
    line-height: 1.7vw;
    font-size: 1.1vw;
}
.come-block {
    grid-area: come-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.come-elem {
    width: 48%;
    display: flex;
    align-items: center;
    gap: 1.4vw;
}
.block-text {
    color: #333333;
}
.come-img{
    width: 2.5vw;
}
.contact {
    background: #FAF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.6vw 0 7vw;
}
.contact-title {
    color: #52503B;
    font-size: 2.2vw;
    line-height: 2.5vw; 
    text-align: center;
}
.contact-text {
    margin-top: 1vw;
    font-size: 1.1vw;
    line-height: 1.7vw;
    text-align: center;
}
.contact-buttons-block {
    margin-top: 1.25vw;
    display: flex;
    gap: 1.4vw;
}
.contact-button {
    border: 1px solid #52503B;
    color: #52503B;
    font-size: 1.1vw;
    padding: 1.1vw 1.8vw;
border-radius: 6px;
transition: .5s;
}
.contact-button:hover{
    background: #52503B;
    color: #FFFFFF; 
}
.footer{
    background: #52503B;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw 10vw;
}
.footer-logo{
    width: 14vw;
}
.footer>p{
    color:#fff;
    margin-top: 1.4vw;
}
